<header class="main-header">
     <nav class="main-header_nav">
        <ul class="main-header_list">
            <li class="main_header_list-item"><a class="<%= path === '/greet' ? 'active' : '' %>" href="./">Greetings</a></li>
            <li class="main_header_list-item"><a class="<%= path === '/form' ? 'active' : '' %>"href="./create">Create</a></li>
            <li class="main_header_list-item"><a class="<%= path === '/users' ? 'active' : '' %>" href="./users">Users</a></li>
        </ul>
    </nav>
</header>