<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/greeting.css">

</head>
<body>

    <%- include('../includes/nav.ejs') %>

    <main class="main-content_greet">
        <p>Wishing You A Lovely Day!<p>
    </main>

</body>
</html>

